
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2C2C2C; 
    color: white; 
}

header {
    position: relative;
    text-align: center;
    background-color: #111; 
    padding: 80px 0;
    height: 300px;
}

.title-container {
    background-color: rgba(0, 0, 0, 0); 
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
}

header h1 {
    font-size: 50px;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.description {
    text-align: center;
    font-size: 18px;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    color: #ccc; 
}


.gallery {
    padding: 40px 20px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 1200px;
    margin: 0 auto;
}


.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.grid-item img:hover {
    transform: scale(1.05); 
}

